<a href="https://colab.research.google.com/github/AllanoSantos/Projetos-Talento_Cloud/blob/main/Projeto_Idade_Atual.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Projeto - Idade Atual
## TalentoCloud
# Allano Alberto


# Solicita o ano de nascimento como entrada
# e verifica se o ano está entre o intervalo de 1922 a 2022
def entrada_ano():
  while True:
    try:
      ano_nascimento = int(input("Digite o ano de seu nascimento: "))
      if 1922 <= ano_nascimento <= 2022:
        return ano_nascimento
      else:
        print("Digite um ano entre 1922 e 2022")
    except ValueError:
      print("Tipo de dado incorreto, digite um número inteiro.")


# Solicita o nome do usuario e calcula idade com base no ano atual
def saida_dados(ano_Nascido):
  nome = input("Digite Seu nome: ")
  ano_atual = 2023
  idade = ano_atual - ano_nascido

  print(f"Seu nome é {nome}, nasceu no ano de {ano_nascido} e atualmente tem {idade} anos")


ano_nascido = entrada_ano()
saida_dados(ano_nascido)